.main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* REPOS */
.repos-section {
    margin-right: 1em;
    width: 25%;
}

.subheader {
    text-decoration: underline;
}

.repos-section .repo-name:hover,
.issues-table .sortable-column i:hover {
    cursor: pointer;
}

/* ISSUES */
.issues-section {
    width: 70%;
}

.issues-section .avatar {
    width: 40px;
    height: 40px;
}

.issues-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
}

.issues-table th,
.issues-table td {
    padding: 12px 15px;
    word-wrap: break-word;
}

.issues-table th {
    font-size: 1.5em;
    text-align: left;
}

.issues-table tbody tr,
th {
    border-bottom: 1px solid #dddddd;
}

.issues-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.issues-table .sortable-column i {
    margin-left: 1em;
}

@media screen and (max-width: 960px) {
    .repos-section {
        width: 100%;
    }
    .repo-list {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
    .sub-header {
        text-align: center;
    }
    .issues-section {
        width: 100%;
    }
}
