.main-wrapper {
    display: flex;
}
section:first-child {
    margin-right: 1em;
}

section > h2 {
    text-decoration: underline;
}

.repo-name:hover {
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
}

.issues-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
}

.issues-table th,
.issues-table td {
    padding: 12px 15px;
    word-wrap: break-word;
}

.issues-table th {
    font-size: 1.5em;
    text-align: left;
}

.issues-table tbody tr,
th {
    border-bottom: 1px solid #dddddd;
}

.issues-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.sortable-column i {
    margin-left: 1em;
}

.sortable-column i:hover {
    cursor: pointer;
}
